ul.messages {
	list-style: none;
	margin: 0;
	padding: 0;
}

.content h1, .content h2 {
	padding-top: 0;
	margin-top: 0;
}

.sidebar .sidebar-menu .treeview-menu>li form a {
	padding: 5px 5px 5px 15px;
	display: block;
	font-size: 14px;
	margin: 0px 0px;
	margin-left: 10px;
}

.skin-blue .treeview-menu > li a {
	color: #777;
}

.skin-blue .treeview-menu > li.active a, .skin-blue .treeview-menu > li a:hover {
	color: #111;
}

.sidebar .sidebar-menu .treeview-menu > li a .fa, .sidebar .sidebar-menu .treeview-menu > li a .glyphicon, .sidebar .sidebar-menu .treeview-menu > li a .ion {
	width: 20px;
}

.form-group .error {
	color: #f56954;
	font-size: 90%;
}